@media screen and (max-width:475px) {
    input{
        width: 200px !important;
        font-size: 15px;
        margin-left: -50px;
    }
    button{
        width: 200px !important;
        font-size: 15px;
        margin-left: -50px;
    }
    #show{
        width: 200px !important;
        font-size: 15px;
        margin-left: -50px;
    }
}
@media screen and (max-width:475px) {
    input{
        width: 300px !important;
        font-size: 25px;
        margin-left: -150px;
    }
    button{
        width: 300px !important;
        font-size: 25px;
        margin-left: -150px;
    }
    #show{
        width: 300px !important;
        font-size: 25px;
        margin-left: -150px;
    }
}
